nav {
    background-color: steelblue;
    padding: 10px;
}

nav a{
    color: white;
    display: block;
    padding: 20px;
}

h1{
    color: steelblue;
}

main img{
    width: 150px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p{
    padding: 0;
}

main{
    max-width: 700px;
}

aside{
    margin: skyblue;
    border: #130070;
    padding: #333333;
    background-color: skyblue;
    color: #222;
    text-align: center;
    width: 25em;
}

aside img{
    width: 200px;
    height: auto;
}

footer{
    margin-top: 1em;
    border-top: 5px blue;
    text-align: center;
}